/* For mobile phones: */
@media only screen and (max-width: 768px) {
    body {
        width: 520px;
    }

    #menu ul {
        height: 40px;
    }

    #menu ul li {
        width: 75px;
    }

    .loai-banh {
        position: absolute;
     top: -9999px;
     left: -9999px;
    }

    .font {
        position: absolute;
     top: -9999px;
     left: -9999px;
    }

    .title {
        font-size: 32px;
    }

    .cake-desc {
        display: none;
    }

    .img-product {
        margin-left: 30%;
        width: 40%;
        height: auto;
    }

    .more {
        font-size: 30px;
    }

    .about-end {
        font-size: 15px;
    }

    .cach-dong {
        width: 0px;
        height: 0px;
    }

}

/* For tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 750px;
    }

    #menu ul {
        height: 40px;
    }

    #menu ul li {
        width: 130px;
    }

    .title {
        font-size: 37px;
    }

    .cake-desc {
        font-size: 25px;
    }

    .icon {
        position: absolute;
     top: -9999px;
     left: -9999px;
    }

    .img-product {
        margin-left: 30.5%;
        width: 40%;
        height: auto;
    }

    .more {
        font-size: 30px;
    }

    .about-end {
        font-size: 17px;
    }

    .cach-dong {
        width: 0px;
        height: 0px;
    }

}

/* For pc */
@media screen and (min-width: 992px) {
    #menu ul {
        height: auto;
    }

    .icon {
        display: none !important;
    }    
}

